
body {
	margin: 0 auto;
	background-color: #fefefe;
	font-family: 'Lucida Console', Sans-Serif
}

.container {
	width: 90%;
	margin: 0 auto;
}

header {
	width : 100%;
	padding :1px;
	background: black;
}
/*-------------------------------framework--------------------------------------*/

.bold {
	font-weight: bold
}

.white {
	color: white;
}

.orange {
	color: #f42;
}

.grey {
	color: #524d4d;
}

.light-grey {
	color: #6f6f6fc7;
}

.hover-black :hover{
	color: black;
	cursor: pointer;
}




.orange-background {
	background-color: #feeae7; 
}

.orange-background-2{
	background-color: #f42; 
}

.orange-background-3 {
	background-color: #fffaf8
}

.flex {
	display: flex;
	justify-content: flex-start;
	margin: 0;
}

.flex h3{
	margin: 15px 0 0 5px;
}

.flex h4{
	margin: 18px 0 0 10px;
}

.flex img{
	margin: -20px 0 5px 5px;
	width: 60px;
	height: 60px; 
}

.indexTitle {
	padding-left: 70px
}
/*-------------------------------framework end--------------------------------------*/
nav {
	width : 100%;
	height: 50px;
	display: flex;
	color: grey;
}

nav img {
	background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
	padding: 20px;
	position: relative;
	top: 0;
	left: 0;
	width: 70px;
}

.menu2 {
position: absolute;
right: 10px;
list-style: none;
}

.menu2 i {
	border-left: 1px solid #bbb8b8c7;
	padding: 5px 10px
}

/*------------------------top section----------------------*/
@media only screen and (min-width: 1024px) {
    .main-articles {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 5px;
	}
.font-small{
	font-size: 0.8em;
}
.article-description p{
	margin :10px;
}
.desc {
		font-size: 0.6em;
	}

.latest0 {
	max-width: 1200px;
	margin: 0 auto
}

.indexs-title h4{
		font-size: 2em;
		margin-bottom: 25px
	}

.background {
	background-size: 100%;
}

/*.font-small-0{
	font-size: 0.3em;
}*/

.font-big {
	font-size: 3em;
}

.font-medium {
	font-size: 1.5em;
}


.big-article {
		grid-column: span 2;
		grid-row: span 2;
}

	.grid-auto-small {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
	}

	.hide-when-screen-big {
		display: none
	}

	.categories-section {
		margin-top: 50px; 
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 5px;
	}

	.latest-article img{
		width: 100%;
		max-height: 200px;
	}
 	.icon-menu ul li{			
		padding : 15px;
}

	.article-description, .TNW {
		margin :10px;
		padding : 15px;
}
	.TNW {
		display : flex;
		justify-content: space-between;	
	}

	.TNW h1{
		margin-top : 0;
	}

	.article-description h3{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.article-description h2{
		margin-top : 0;
	}
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .main-articles {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 5px;
	}

	.indexs-title ul{
		list-style: none;
		padding-left: 0;
		display: flex;

	}

	.indexs-title h4{
		font-size: 2em;
		margin-bottom: 0
	}

	.brd-r {
		border-right: 1px solid #f42;
		padding-right: 10px;
		margin-right: 10px;
	}

.font-small{
	font-size: 0.8em;
}

.background {
	background-size: 100%;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
}

.desc {
		font-size: 0.6em;
	}

.font-big{
	font-size: 3em;
}

.font-medium {
	font-size: 1.5em;
}

	.big-article {
		grid-column: span 2;
		grid-row: span 2;
	}

	.hide-when-screen-medium {
		display: none;
	}

	
    .grid-auto-small {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1%;
		grid-row-gap: 10px;
	}
    .categories-section {
		margin-top: 50px; 
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;
	}

	.latest-article img{
		width: 100%;
		max-height: 200px;
	}

    .icon-menu ul li{		
			padding : 15px;
}

	.list {
		font-size: 0.9em
	}
	.article-description p{
		color: grey;
		margin :10px;
	}

	}

@media only screen and (max-width: 768px) {
	.container {
		width: 98%;
		margin: 0 auto;
	}

		.menu2 {
	font-size: 1.5em
	}

	.desc {
		font-size: 0.9em;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: white;
		z-index: 1
}
	.article-description1 {
		position: relative;
		top: 12vh
	}
	.article-description h3{
		font-size: 0.9em;
		font-weight: normal;
		
		margin-bottom: 0;

}
	.article-description h2{
		margin: 0
}

	.no-margin {
		margin: 0
	}

	.hide-when-screen-small {
		display: none
	}

	.main-articles {
		margin-top: 60px
	}
	.top-article {
		height: 30vh;
	}

	.latest-news {
		height: 90px;
	}

	.orange-article {
		margin: 10px;
	}

	.list {
		font-size: 0.8em
	}

	.latest-article {
		display: flex;
		height: 100px;
		margin: 10px auto
	}

	.latest-article div {
		margin-left: 5px
	}

	.latest-article img{
		width: 100px;
		height: 100%;
	}
	/* above footer */

	.icon-menu ul li{
		margin: 0; 	
	  	padding: 15px;     
     }
    .TNW {	
		margin: 10px;
	}

	.category {
		margin: 30px 15px
	}

	.category .white {
		height: 400px
	}

	.category div h4 {
		font-size: 1.7em
	}

	.category .orange-background{
		height: 100px
	}

	.category .orange-background h2 {
		font-size: 1em
	}

	



	.cat {
		position: relative;
		top: 300px;
/*		left: 5px;*/
	}

	.cat p {
		margin-top: 0
	}

	.orange-index {
		margin: 10px;
	}

	.orange-index h3{
		margin: 0;

	}


	.indexs-title {
		margin-top: 70px;

	}

	.indexs-title ul{
		list-style: none;
		padding-left: 0

	}

	.indexs-title ul li{
		margin-top: 10px

	}

	.indexs-title h4 {
		margin: 0;
		font-size: 2em;
	}

	.orange-index h4{
		margin: 0;
		font-size: 0.8em;
		font-weight: normal;
	}

	.orange-background-3 p {
		font-size: 0.9em;
		margin: 10px;
	}


}


/*-------------------end of media queries-----------------*/

.main-articles {
		margin-left: 5px
		margin-right: 5px;
	}


.list {
	display: flex;
	list-style: none;
}

.list li {
	margin-left: 20px; 
}

.big-article {
	display: flex;
	align-content: space-between;
	flex-direction: column;
}

.orange-background-3 ul {
	border-bottom: 1px solid #ff442247;
	padding-bottom: 15px
}

.background1 {
	background: url(images/background1.jpg) no-repeat;
	background-size: 100%; 
}

.background {
	background: url(images/background4.jpg) 100% 100% no-repeat;
	background-size: cover;
}


.category h4{
	font-size: 2em;
	margin: 0
}

.category ul li{
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #dad4d4
}

.article-description p{
	color: grey;
}

.latest-article .font-medium:hover {
	color: #f42;
	cursor: pointer;
}

.no-margin-y {
	margin: 0 auto
}


.aboveFooter {
	width : 100%;
	padding : 2px;
	background-color:#1e1e1f;
	margin : 0 auto;
	text-align: center;
}
.icon-menu{
	width : 555px;
	margin : 0 auto;
}
.icon-menu ul {
	margin-top : 25px;
	display : flex;
	list-style-type: none

}
.icon-menu ul li{
	padding: 20px;
	margin : 0.5em;
	border-radius: 50%;
	background: #2e2d2d;
	color : white;
}

.icon-menu ul :hover{
	background: black;
	cursor: pointer;
}

.icon-menu i {
	height: 16px;
	width: 16px;
}


.menu_{
	width : 460px;
	margin : 0 auto;
}
.menu_ ul {
	display : flex;
	list-style-type: none;
	padding-left: 40px	
}
.menu_ ul li {
	text-transform: uppercase;
	padding : 10px;
	color : white;
	font-size: 0.7em;
	font-family: Arial, sans-serif;
}


footer {
	color : white;
    font-size: 0.7em;
	font-family: Arial, sans-serif;
	text-align: center;
	padding : 3px;
	background-color: black;
}

footer p{
	width: 50%;
	margin: 50px auto;
	font-size: 	1.2em
}

footer img {
	width: 40px;
}
.desc {
		display: grid;
		position: relative;
		top: 5px;
		left: 5px;
		grid-template-columns: 4fr 1fr;
	}

	.desc img {
		width: 90px;
		height: auto;
		margin-right: 5px;
		justify-self: end;
	}